h1 {
    text-align: center;
    color: #8A3033;
}

img {
    max-width:50%;
    height:auto;
}

nav {
  background-color: #998888;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: white;
  font-size: 1.5em;
}

nav a:hover {
  color: pink;
  text-decoration: none;
}

body {
  background-color: #BFB8AD;
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: #BFB8AD;
}

.form-group {
  padding:10px;
}

.form-control {
  border-radius:10px;
}

.btn-primary {
  margin:10px 0;
}

.btn-warning {
  margin:10px 0;
}

.btn-danger {
  margin:10px 0;
}